name: Docker Image Publish

on:
  # push:
  #   branches:
  #   - main
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

        
    # - uses: actions/checkout@v3
    # - name: Build the Docker image
    #   run:         
    #     docker build . --file WebApp.Dockerfile --tag smainil/app-chatbot-sample:0.0.1;
    #     docker tag smainil/app-chatbot-sample:0.0.1 smainil/app-chatbot-sample:latest;
    #     docker push smainil/app-chatbot-sample:0.0.1;
    #     docker push smainil/app-chatbot-sampledocker hub docker hub pudodddd:latest;
      
